@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

// Color
$white: #fff;
$black: #000;
$dark-gray: #2b2b2b;
$gray: #9c9c9c;
$orange: #ff8200;

// Container
$container-width: 448px;
$container-height: 720px;
$container-padding: 40px 0;

// Screen
$screen-width: 100%;
$screen-height: 160px;
$screen-padding: 24px 40px;

// Control
$control-width: 100%;
$control-height: 464px;
$control-padding: 0 40px;

// Line
$line-width: 100%;

// Button
$btn-width: 80px;
$btn-height: 80px;
$btn-width-wide: 176px;

.container {
    font-family: 'Oswald', sans-serif;
    background-color: $black;
    width: $container-width;
    height: $container-height;
    padding: $container-padding;

    .screen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $white;
        background-color: $dark-gray;
        width: $screen-width;
        height: $screen-height;
        padding: $screen-padding;
        margin-bottom: 16px;
    }

    .control {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: $control-width;
        height: $control-height;
        padding: $control-padding;
    }

    .line {
        display: flex;
        justify-content: space-between;
        width: $line-width;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .fs32 {
            width: 100%;
            text-align: right;
            font-size: 32px;
            line-height: 1;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
    
            span {
                display: inline-block;
                margin-left: 11px;

                &:nth-child(even) {
                    vertical-align: top;
                    font-family: 'Myriad Pro Regular', sans-serif;
                }   
            }
        }

        .fs64 {
            width: 100%;
            text-align: right;
            font-size: 64px;
            line-height: 1;
        }
    }

    .button {
        width: $btn-width;
        height: $btn-height;
        border: none;
        border-radius: 50%;
        color: $white;
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        flex-shrink: 0;
        flex-grow: 0;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    
        &.normal {
            background-color: $dark-gray;
        }

        &.command {
            background-color: $gray;
        }

        &.operator {
            font-family: 'Myriad Pro Regular', sans-serif;
            background-color: $orange;
        }
    
        &.wide {
            width: 176px;
            height: 80px;
            text-align: left;
            padding: 0 31px;
            border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
            background-color: $dark-gray;
        }
    }

}

